.header {
    height: 55px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;

    background-color: #181818;
}

.left-section {
    display: flex;
    align-items: center;
}

.hamburger-menu {
    height: 24px;
    margin-left: 24px;
    margin-right: 24px;
}

.youtube-logo {
    height: 70px;
}

.middle-section {
    flex: 1;
    margin-left: 70px;
    margin-right: 35px;
    max-width: 500px;
    display: flex;
    align-items: center;
}

.search-button {
    height: 40px;
    width: 66px;
    background-color: #323232;
    border: 1px solid #4D4D4D;
    border-radius: 0 20px 20px 0;
    margin-left: -1px;
    margin-right: 10px;
}

.search-bar {
    height: 36px;
    padding-left: 18px;
    font-size: 16px;
    border: 1px solid #4D4D4D;
    border-radius: 20px 0 0 20px;
    background-color: #121212;
    flex: 1;
}

.search-bar::placeholder {
    font-size: 16px;
}

.search-icon {
    height: 25px;
}


.search-button,
.voice-search-button {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.upload-icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    
    border-radius: 20px;
    padding: 4px 8px 4px 8px;
    background-color: rgb(54, 43, 43);
}

.plus-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    font-size: 14px;
    padding: 2px 0 2px 0;
    margin: 0 6px 0 4px;
}
.upload-icon-container:hover {
    background-color: #4D4D4D;
    transition: 0.2s;
}

.search-button .tooltip,
.voice-search-button .tooltip,
.upload-icon-container .tooltip {
    position: absolute;
    background-color: gray;
    color: white;
    padding: 4px 8px 4px 8px;
    bottom: -30px;
    border-radius: 2px;
    font-size: 12px;
    opacity: 0;
    transition: opacity 0.15s;
    white-space: nowrap;
}

.search-button:hover .tooltip,
.voice-search-button:hover .tooltip,
.upload-icon-container:hover .tooltip {
    opacity: 1;
}



.voice-search-button {
    height: 40px;
    width: 40px;
    border-radius: 20px;
    border: none;
    background-color: #323232;
}

.voice-search-icon {
    height: 24px;
}


.upload-icon {
    height: 24px;
}

.youtube-apps-icon {
    height: 24px;
}

.notifications-icon {
    height: 24px;
    width: 24px;
}

.current-user-picture {
    height: 32px;
    border-radius: 16px;
}

.right-section {
    width: 200px;
    margin-right: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.notifications-icon-container {
    position: relative;
}

.notifications-count {
    position: absolute;
    top: -2px;
    right: -5px;
    background-color: rgb(200, 0, 0);
    color: white;
    font-size: 11px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
    border-radius: 10px;
}