*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', Arial, sans-serif;
}

:root {
    --bg-color: #0f0f0f;
    --surface-color: #282828;
    --text-color: #ffffff;
    --secondary-text-color: #aaa;
    --separator-color: #3f3f3f;
    --header-height: 56px;
    --sidebar-width: 240px;
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
    padding-top: var(--header-height);
}

a {
    text-decoration: none;
    color: var(--text-color);
}

#content-area {
    display: flex;
    height: calc(100vh - var(--header-height));
}

.main-content {
    margin-left: var(--sidebar-width); 
    flex-grow: 1; 
    padding: 24px;
    overflow-y: auto;
}