.youtube-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--bg-color);
    border-bottom: 1px solid var(--separator-color);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: var(--header-height);
    padding: 0 16px;
    z-index: 100;
}

.header-left {
    display: flex;
    align-items: center;
}

.menu-icon {
    background: none;
    border: none;
    cursor: pointer;
    padding: 8px;
    margin-right: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo {
    display: flex;
    align-items: center;
}
.logo-img { 
    height: 80px;
    width: auto;
}


.header-middle {
    flex: 0 1 600px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-container {
    display: flex;
    width: 100%;
    max-width: 600px;
}

.search-input {
    flex: 1;
    padding: 10px 15px;
    border: 1px solid var(--separator-color); 
    background-color: var(--surface-color); 
    color: var(--text-color);
    border-right: none;
    border-radius: 20px 0 0 20px;
    font-size: 15px;
}
.search-input:focus {
    outline: none; 
    border-color: #1c62b9; 
    background-color: var(--bg-color); 
}

.search-button {
    padding: 0 20px;
    border: 1px solid var(--separator-color);
    background-color: #323232;
    border-radius: 0 20px 20px 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.voice-search-btn {
    background-color: var(--surface-color); 
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-left: 10px;
}

.header-right {
    display: flex;
    align-items: center;
}

.icon-btn {
    background: none;
    border: none;
    cursor: pointer;
    padding: 8px;
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile-avatar {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    cursor: pointer;
}

.icon {
    width: 24px;
    height: 24px;
}