main {
  margin-top: 112px; /* 헤더(56) + 칩바(56) 높이 */
  margin-left: var(--sidebar-width);
}

.main-header {
  display: block;
  justify-content: center;
  margin: 0;
  padding: 0;
  background: transparent;
  width: 100%;
}

.chip-bar-renderer {
  display: flex;
  height: var(--chip-bar-height);
  width: 100%;
}

.chips-wrapper {
  margin-left: var(--sidebar-width);
  width: calc(100% - var(--sidebar-width));
  height: var(--chip-bar-height);
  display: flex;
  align-items: center;

  padding: 0;
}

.chips-content {
  padding: 0 24px;
  box-sizing: border-box;
  width: 100%;
  position: relative;
  display: flex;
  margin: 0;
  border: 0;
  background: transparent;
}

.chips-scroll-container {
  position: relative;
  white-space: nowrap;
  overflow: hidden;
  display: flex;

  margin: 0;
  padding: 0;
  border: 0;
  background: transparent;
}

.chips-container {
  transform: translateX(0px);
  transition-duration: .15s;
  transition-timing-function: cubic-bezier(0.05, 0, 0, 1);
  will-change: transform;
  display: flex;
  white-space: nowrap;
}

.chip {
  margin: 12px 12px 12px 0;
  display: inline-flex;
  white-space: nowrap;
  background-color: rgba(255, 255, 255, 0.1);
  color: #fff;
  padding: 0 12px;
  height: 32px;
  border-radius: 8px;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  border: none;
  transition: background-color 0.2s;
}

.chip:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.chip.active {
  background-color: #fff;
  color: #0f0f0f;
}

.chip:last-child {
  margin-right: 0;
}