.sidebar-guide {
  position: fixed;
  width: var(--sidebar-width);
  top: var(--header-height);
  bottom: 0px;
  box-sizing: border-box;
  display: block;
  margin: 0;
  padding: 0 4px;
  z-index: 1100;
  background-color: rgba(15, 15, 15, 0.9);
  backdrop-filter: blur(8px);
}

.sidebar-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  margin-top: 12px;
}

.endpoint-entry {
  position: relative;
  display: block;
  cursor: pointer;
}

.endpoint-entry:hover {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
}

.endpoint {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 8px 0;
  margin: 0;
  width: 64px;
}

.endpoint-icon {
  padding: 12px 0;
  margin: 4px 0;
}

.endpoint-entry .sidebar-tooltip {
  position: absolute;
  background-color: var(--static-gray);
  color: #fff;
  left: 64px;
  border-radius: 2px;
  margin: 8px;
  padding: 8px;
  font-size: 12px;
  font-weight: 400;
  text-size-adjust: 100%;

  opacity: 0;
  transition: opacity 0.15s;
}

.endpoint-entry:hover .sidebar-tooltip {
  opacity: 0.85;
}