.sidebar {
    width: var(--sidebar-width); 
    min-width: var(--sidebar-width); 
    padding-top: 20px;
    background-color: var(--bg-color); 
    overflow-y: auto;
    position: fixed;
    height: 100%;
    z-index: 50; 
}

.sidebar-section {
    padding: 0 24px 10px 24px;
}

.sidebar-link {
    display: flex;
    align-items: center;
    padding: 10px 10px;
    font-size: 14px;
    font-weight: 500;
    border-radius: 10px;
    transition: background-color 0.2s;
}

.sidebar-link:hover, .sidebar-link.active {
    background-color: var(--surface-color); 
}

.link-icon {
    width: 24px;
    height: 24px;
    margin-right: 20px;
}

.sidebar-link img {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    margin-right: 15px;
}

.separator {
    border: 0;
    border-top: 1px solid var(--separator-color);
    margin: 10px 0;
}

.sidebar-title {
    font-size: 14px;
    color: var(--secondary-text-color); 
    padding: 10px 24px;
}